/* appstyles.css */
.card {
  background: #6d3da1;
  color: #d0bfe3;
}

.card-text {
  color: #fff;
}

.zwrap {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: stretch;
  width: 100%;
}

.zsidenav {
  height: 100%;
  padding: 1em 2em;
  background-color: #a47ece;
  border-radius: 5px;
}

.content {
  padding: 5em;
  flex-grow: 100;
}

.ztoggle {
  margin: 10px 20px;
}

.btn-outline-secondary {
  --bs-btn-color: #6d3da1 !important;
  --bs-btn-border-color: #6d3da1 !important;
  --bs-btn-active-bg: #6d3da1 !important;
  --bs-btn-hover-bg: #a47ece !important;
  --bs-btn-hover-border-color: #6d3da1 !important;
  --bs-btn-active-border-color: #6d3da1 !important;
  --bs-btn-focus-shadow-rgb: 158, 12, 206 !important;
}

.side-tab {
  align-self: stretch;
}

.stab-inner {
  position: relative;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 5px 15px;
  border-right-style: none;
  border-radius: 10px 0px 0px 10px;
  border-color: #6d3da1;
  background-color: #a47ece;
}

.nav-title {
  padding: 5px;
}
