/* appstyles.css */
.card {
  background: #6d3da1;
  color: #d0bfe3;
}
.card-text {
  color: #fff;
}
.zwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}
.zsidenav {
  padding: 1em 3em;
  background-color: #6d3da1;
}
.content {
  padding: 5em;
}
.ztoggle {
  margin: 10px 20px;
}
