/* appstyles.css */
.card {
  background: #6d3da1;
  color: #d0bfe3;
}
.card-text {
  color: #fff;
}
.zwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}
.zsidenav {
  height: 100%;
  padding: 1em 3em;
  background-color: #6d3da1;
}
.content {
  padding: 5em;
}
.ztoggle {
  margin: 10px 20px;
}
.btn-outline-secondary {
  --bs-btn-color: #6d3da1 !important;
  --bs-btn-border-color: #6d3da1 !important;
  --bs-btn-active-bg: #6d3da1 !important;
  --bs-btn-hover-bg: #a47ece !important;
  --bs-btn-hover-border-color: #6d3da1 !important;
  --bs-btn-active-border-color: #6d3da1 !important;
  --bs-btn-focus-shadow-rgb: 158, 12, 206 !important;
}
